data/tips/gimp-tips.dtd

<!-- Simple DTD for GIMP tips -->

<!ENTITY % markup "(#PCDATA|b|big|tt)*" >

<!ELEMENT gimp-tips (tip+) >

<!ELEMENT tip %markup; >
<!ATTLIST tip level (start|beginner|intermediate|advanced) #REQUIRED
	      xml:lang CDATA #IMPLIED >

<!ELEMENT b %markup; >
<!ELEMENT big %markup; >
<!ELEMENT tt %markup; >
