data/tips/gimp-tips.dtd

<!-- Simple DTD for GIMP tips -->

<!ELEMENT gimp-tips (tip+)>

<!ELEMENT tip (thetip+)>
<!ATTLIST tip level (start|beginner|intermediate|advanced) #REQUIRED>
<!ATTLIST tip help CDATA #IMPLIED>

<!ENTITY % markup "(#PCDATA|b|big|tt)*">

<!ELEMENT b %markup;>
<!ELEMENT big %markup;>
<!ELEMENT tt %markup;>

<!ELEMENT thetip %markup;>
<!ATTLIST thetip xml:lang CDATA #IMPLIED>
