tips/gimp-tips.dtd

<!-- Simple DTD for GIMP tips -->

<!ELEMENT gimp-tips (tip+)>

<!ELEMENT tip (welcome*, thetip+)>
<!ATTLIST tip level (start|beginner|intermediate|advanced) #REQUIRED>

<!ELEMENT welcome (#PCDATA|b|big|tt)*>
<!ATTLIST welcome xml:lang CDATA #IMPLIED>

<!ELEMENT thetip (#PCDATA|b|big|tt)*>
<!ATTLIST thetip xml:lang CDATA #IMPLIED>

<!ELEMENT b (#PCDATA|big|tt)*>
<!ELEMENT big (#PCDATA|b|tt)*>
<!ELEMENT tt (#PCDATA|b|big)*>
